h3{
font-family: "Times New Roman";
    color: red;
}
dl{
    font-family: "Agency FB";
    color: greenyellow;
    background-color: azure;
    }
li{
    font-family: "Times New Roman";
    color: green;
}
h1{
    color: #b15a5a;
    font-family: "Baskerville Old Face";
    font-size: larger;
}