p{
    font-family: "Times New Roman";
    font-size: 20px;
    color: black;
    padding: 10px;
    alignment: revert;

}
h1{
    font-family: Algerian;
    font-size: 30px;
    alignment: center;
    color: red;
}
body{
    background-color: beige;
}